{% extends "base.html" %}

{% block title %}
<title> {{name}} - Billing </title>
{% endblock %}

{% load static %}

{% block content %}
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <img class="avatar img-thumbnail float-left img-fluid" src="{% static 'img/profile_placeholder_large.png' %}" style="width: 200px; margin-right: 1em;"/>
        <h5>{{ name }}</h5>
        <p class="card-text">Balance: {{ balance }}</p>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h5>Add Products to Bill:</h5>
      </div>
      <div class="card-body">
        {% for product in products %}
          <a href="#" onclick="addItem({{ product.id }}, '{{ product.name }}', {{ product.price }})" class="btn btn-outline-secondary">
            {{ product.name }}
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"><strong>Order summary</strong></h4>
              </div>
              <div class="panel-body">
                <div class="table-responsive">
                  <table class="table table-condensed">
                    <thead>
                      <tr>
                        <td><strong>Item</strong></td>
                        <td class="text-right"><strong>Price</strong></td>
                      </tr>
                    </thead>
                    <tbody id="summary-table-body">
                      <tr id="total-tr">
                        <td class="thick-line text-right"><strong>Total: </strong></td>
                        <td class="thick-line text-right"><strong>₹0 </strong></td></tr>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="btn-group special" role="group">
          {% csrf_token %}
          <button type="button" class="btn btn-success" onclick="postOrder('{% url 'order' %}')">Bill</button>
          <button type="button" class="btn" onclick="clearAllItems()">Clear</button>
          <button type="button" class="btn btn-danger" onclick="location.href='{% url 'billing' %}'">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/script.js' %}"></script>
{% endblock %}
